@charset "UTF-*";

/* 
    em HTML é ID    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: #a9ffd2;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #305C45;
}

h1#principal {
    text-align: center;
    background-color: #305C45;
    color: white;
}

h2 {
    color: #519C75;
}

.basico {
    color: #00ac53;
    font-weight: bold;
}

.intermediario {
    color: #91ad12;
    font-weight: bold;
}

.avancado {
    color: #ac1400;
    font-weight: bold;
}

p {
    text-align: justify;
}

.destaque {
    background-color: rgba(122, 122, 43, 0.438);
}